{{#if totalPages = 1}}Page <strong>1</strong> of <strong>1</strong>
{{else}}
	<ul>
	{{#if pageNumber > 1}}<li clas="previous"><a href="{{paginationLink forumId=forumId topicId=id pageNumber=pageNumber-1}}" role="button">Previous</li>{{/if}}
	<li><a href="{{url}}" role="button">1</a></li>
	{{#if pageNumber > 4}}<li class="ellipsis" role="separator"><span>…</span></li>{{/if}}
	{{#if pageNumber > 3}}<li><a href="{{paginationLink forumId=forumId topicId=id pageNumber=pageNumber-2}}" role="button">{{pageNumber - 2}}</a></li>{{/if}}
	{{#if pageNumber > 2}}<li><a href="{{paginationLink forumId=forumId topicId=id pageNumber=pageNumber-1}}" role="button">{{pageNumber - 1}}</a></li>{{/if}}
	<li class="active"><span>{{pageNumber}}</span></li>
	{{#if pageNumber < totalPages - 2}}<li><a href="{{paginationLink forumId=forumId topicId=id pageNumber=pageNumber+1}}" role="button">{{pageNumber + 1}}</a></li>{{/if}}
	{{#if pageNumber < totalPages - 3}}<li><a href="{{paginationLink forumId=forumId topicId=id pageNumber=pageNumber+2}}" role="button">{{pageNumber + 2}}</a></li>{{/if}}
	{{#if pageNumber < totalPages - 4}}<li class="ellipsis" role="separator"><span>…</span></li>{{/if}}
	<li><a href="{{paginationLink forumId=forumId topicId=id pageNumber=totalPages}}" role="button">{{totalPages}}</a></li>
	{{#if pageNumber < totalPages}}<li clas="next"><a href="{{paginationLink forumId=forumId topicId=id pageNumber=pageNumber+1}}" role="button">Next</li>{{/if}}
	</ul>
{{/if}}

