{{#*inline "userPane"}}
<div class="postprofile">
	<img class="avatar" src="{{avatar}}" width="{{avatarWidth}}" height="{{avatarHeight}}" alt="{{name}}'s avatar">
	<div class="userName">{{name}}</div>
	<div class="userRank">{{rank}}</div>
	<div class="userPosts">Posts: {{posts}}</div>
	<div class="userJoined">Joined: {{joined}}</div>
</div>
{{/inline}}
<div class="post" id="p{{id}}">
	<div class="userPane">{{> userPane user }}</div>
	<div class="postSubject"><h3>{{subject}} </h3></div>
	<div class="postByLine">by <strong>{{user.name}}</strong> &raquo; <span class="postDate">{{datePosted}}</span></div>
	<div class="postBody">{{{body}}}</div>
</div>