<li class="row bg2{{#if isPinned}} sticky{{/if}}">
	<dl class="icon{{#if isPinned}} sticky_read{{/if}}">
		<dt>
			<div class="list-inner">
				<a class="topictitle" href="{{topicLink}}">{{{topicName}}}</a>
				<br>
				{{#if isPinned}}<i class="topic-status sticky fa fa-thumb-tack"></i>{{/if}}
				<div class="pagination">
					{{paginationBlock "topic" forumId=forumId topicId=topicId pages=pages}}
				</div>
				<div class="responsive-hide">
					by
					<span class="username">{{topicUserName}}</span>
					&raquo; {{formatDateTime topicDateCreated}}
				</div>
			</div>
		</dt>
		<dd class="posts">{{postCount}}<dfn>replies</dfn></dd>
		<dd class="lastpost">
			<span>
				<dfn>Last post</dfn>
				by
				<span class="username">{{topicLatestPostedBy}}</span>
				<a href="{{{topicLatestPostedLink}}}" title="Go to last post">
					<span class="imageset icon_topic_latest" title="View the latest post">
						View the latest post
					</span>
				</a>
				<br>
				{{formatDateTime topicLatestPostedOn}}
			</span>
		</dd>
	</dl>
</li>