<div class="topic" id="t{{id}}">
	<h2 class="topic-title"><a href="./viewtopic.php?f={{forumId}}&amp;t={{id}}">{{name}}</h2>
	<div class="pagination">{{posts}} posts &bull; {{paginationBlock "topic" forumId=forumId page=pageNumber pages=totalPages}}</div>
	<div class="postContainer">
		{{#each posts}}
			{{>post this}}
		{{/each}}
	</div>
</div>