{{>pageheader}}
<div class="pagination">
{{paginationBlock "test" page=0 pages=10 nextprev=true}}
</div>
<hr>
<div class="pagination">
{{paginationBlock "test" page=0 pages=11 nextprev=true}}
</div>
<hr>
<div class="pagination">
{{paginationBlock "test" page=12 pages=12 nextprev=true}}
</div>
<hr>
<div class="pagination">
{{paginationBlock "test" page=13 pages=13 nextprev=true}}
</div>
<hr>
<div class="pagination">
{{paginationBlock "test" page=0 pages=2 nextprev=true}}
</div>
<hr>
<div class="pagination">
{{paginationBlock "test" page=0 pages=3 nextprev=true}}
</div>
<hr>
<div class="pagination">
{{paginationBlock "test" page=0 pages=4 nextprev=true}}
</div>
<hr>
<div class="pagination">
{{paginationBlock "test" page=3 pages=5 nextprev=true}}
</div>
<hr>
<div class="pagination">
{{paginationBlock "test" page=6 pages=6 nextprev=true}}
</div>
<hr>
{{>pagefooter}}