{{>pageheader}}
<div id="wrap" class="page-width">
	<a id="start_here" class="anchor"></a>
	<div id="page-body" role="main">
		<div class="navbar nav-breadcrumbs">
			{{>breadcrumbs}}
		</div>
		<h2 class="topic-title"><a href="{{{threadLink}}}">{{{name}}}</a></h2>
		<div class="action-bar top">
			<div class="pagination">
				{{topicCount}} posts
				{{paginationBlock "posts" forumId=forumId topicId=topicId page=page pages=pages nextprev=true}}
			</div>
		</div>
		{{{postLines}}}
		<div class="action-bar bottom">
			<div class="pagination">
				{{topicCount}} posts
				{{paginationBlock "posts" forumId=forumId topicId=topicId page=page pages=pages nextprev=true}}
			</div>
		</div>
	</div>
</div>
{{>pagefooter}}